@model IEnumerable<OfferVM>

<div class="products-container-grid">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <div class="products-image-box">
                <img src="/Images/1.jpg" />
                @if (item.Discount > 0)
                {
                    <div class="discount-badge">
                        <p>-@item.Discount%</p>
                    </div>
                }
            </div>
            <div class="products-text-nested-container">
                <div class="products-title-box">
                    <h3>@item.Title</h3>
                </div>
                <div>
                    <p>@item.Description</p>
                </div>
            </div>
            <div class="products-price-nested-container">
                <div class="products-price-box">
                    <p>@item.Price Zł</p>
                </div>
            </div>
        </div>
    }
</div>