@using Shoppie.Business.Seeders.Enums;
@model AppUserManagementModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PersonalDicount" class="control-label"></label>
                <input asp-for="User.PersonalDicount" class="form-control" />
                <span asp-validation-for="User.PersonalDicount" class="text-danger"></span>
            </div>
            <h4>Address details</h4>
            <div class="form-group">
                <label asp-for="User.Country" class="control-label"></label>
                <input asp-for="User.Country" class="form-control" />
                <span asp-validation-for="User.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Street" class="control-label"></label>
                <input asp-for="User.Street" class="form-control" />
                <span asp-validation-for="User.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PostalCode" class="control-label"></label>
                <input asp-for="User.PostalCode" class="form-control" />
                <span asp-validation-for="User.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BuildingNr" class="control-label"></label>
                <input asp-for="User.BuildingNr" class="form-control" />
                <span asp-validation-for="User.BuildingNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ApartamentNr" class="control-label"></label>
                <input asp-for="User.ApartamentNr" class="form-control" />
                <span asp-validation-for="User.ApartamentNr" class="text-danger"></span>
            </div>
            <div>
                <select asp-items="@(Html.GetEnumSelectList<Roles>())" asp-for="SelectedRoleId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Management">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
