html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F2E4FE;
}
.form {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.card {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 360px;
}
.form label {
    color: white;
}
.form h4{
    color:white;
}
    .form input {
        width: 100%;
        border-radius: 5px;
        border: 0px;
        padding: 5px;
        background-color: #F2A2E6;
    }
.form label{
    color: white;
    font-weight: 700;
}
.form span {
    color:white;
}
    .form input:hover {
        outline: none;
    }
.form_button {
    width: 100%;
    margin: 20px 0px 5px 0px;
    padding: 5px 50px;
    border-radius: 10px;
    border: 2px solid #F2A2E6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #F2A2E6;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
.header nav{
    display: flex;
    align-content: center;
  
}
.header nav ul {
    display:flex;
    align-items: center;
    align-content: center;
}
    .header nav ul li  {
        list-style: none;
        margin: 0 2px;
    }
    .header nav ul li a {
        font-size: 18px;
        color:white;
        text-decoration: none;
    }
.navItem {
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: #5A198C;
    margin: 0px 0px 100px 0px;
}

#registerForm{
    width: 500px;
}
.flexible{
    width: auto;
    margin: 0 auto;
    height: auto;
}

.center{
    margin: 0 auto;
}

.header {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    text-decoration: none;
    height: 70px;
    background-color: #5A198C;
    margin: 0px 0px 100px 0px;
}
.header a {
    text-decoration: none;
    margin: 0 25px;
    color:white;
}
.login {
    width:500px;
    margin: 0 auto;
}
.card p {
    font-size:17px;
    font-weight: 600;
}
.register{
    width: 500px;
    margin: 0 auto;
}
.login__container .flex__container .form{
    width: 600px;
    margin: 30px;
}
.login__container hr {
    color: white;
    height:1px;
    font-weight: 700;
}
.flex__container {
    display: flex;
    align-content: center;
    align-items: center;
}
.form .form-checkbox{
    width:20px;
    height: 20px;
    margin: 15px;
}
.form input[type="checkbox"]:checked + label:before {
    background-color: green;
}
.form hr {
    color:white;
    height:1px;
    font-weight:700;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width:100%;
}
.newOffer {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 0px auto;
    height:  170px;
    display:flex;
    flex-flow: column;
        
}
    .newOffer a {
        margin-top: auto;
        justify-self: flex-end;
        text-decoration: none;
    }
.newOffer a:hover{
    
    color:black;
}
.styled-table thead tr {
    background-color: #5A198C;
    color: #ffffff;
}
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 2px solid black;

    }
    .styled-table a {
        text-decoration: none;
        color:black;
        margin: 0 2.5px;
        transition: 0.2s;
    }
    .styled-table a:hover{
        font-weight: 700;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
   

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3
        }


        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #5A198C  ;
        }

.form select {
    background-color: #F2A2E6;
    border: transparent;
}
    .form select option {
        background-color: #F2A2E6;
    }


.detailsOfferCard  {
    background-color: #5A198C;
    padding: 20px;
    width:500px;
    border-radius: 20px;
    font-size:25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color:white;
    font-weight: 700;
}
.detailsOfferCard h4 {
    font-size: 35px;
}