html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
    height: 100%;
  }
}
*/
html {
    
}

body {
    background-color: #f1e6de;
    font-family: 'Lato';
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.products-container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

    .products-container-grid .grid-item {
        background-color: whitesmoke;
        border-radius: 0;
        display: flex;
        flex-direction: row;
    }

.products-image-box {
    margin-right: 1%;
    margin: 1rem;
    position: relative;
}

.products-image-box img{
    min-width: 150px;
    max-width: 216px;
}



.products-text-nested-container {
    margin: 1%;
    width: calc(90% - 150px);
}

.products-price-nested-container {
    margin: 1%;
    margin-left: auto;
    width: 10%;
    display: flex;
    justify-content: end;
}

.discount-badge {
    color: white;
    background-color: red;
    width: 15%;
    min-width: 4ch;
    position: absolute;
    top: 65%;
    right: 0;
}

.discount-badge p {
    font-size: 0.7rem;
    margin: 10%;
}

#logout {
    border: 0;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}

.form {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form-textarea {
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color: #F2A2E6;
}

.card {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 360px;
}
.form label {
    color: white;
}
.form h4{
    color:white;
}


.form input {
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color: #F2A2E6;
}
.form label{
    color: white;
    font-weight: 700;
}
.form span {
    display: block;
    color:white;
    margin-bottom: 1rem;
}
    .form input:hover {
        outline: none;
    }
.form_button {
    width: 100%;
    margin: 20px 0px 5px 0px;
    padding: 5px 50px;
    border-radius: 10px;
    border: 2px solid #F2A2E6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #F2A2E6;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}
.header nav{
    display: flex;
    align-content: center;
  
}
.header nav ul {
    display:flex;
    align-items: center;
    align-content: center;
}
    .header nav ul li  {
        list-style: none;
        margin: 0 2px;
    }
    .header nav ul li a {
        font-size: 16px;
        color:white;
        text-decoration: none;
    }
.navItem {
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin: 0px 0px 100px 0px;
}

#registerForm{
    width: 500px;
}
.flexible{
    width: auto;
    margin: 0 auto;
    height: auto;
}

.center{
    margin: 0 auto;
}

.header {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    text-decoration: none;
    height: 70px;
    background-color: #d5bdaf;
    margin: 0px 0px 50px 0px;
}
.header a {
    text-decoration: none;
    margin: 0 25px;
    color:white;
}
.login {
    width:500px;
    margin: 0 auto;
}
.card p {
    font-size:17px;
    font-weight: 600;
}
.register{
    width: 500px;
    margin: 0 auto;
}
.login__container .flex__container .form{
    width: 600px;
    margin: 30px;
}
.login__container hr {
    color: white;
    height:1px;
    font-weight: 700;
}
.flex__container {
    display: flex;
    align-content: center;
    align-items: center;
}
.form .form-checkbox{
    width:20px;
    height: 20px;
    margin: 15px;
}
.form input[type="checkbox"]:checked + label:before {
    background-color: green;
}
.form hr {
    color:white;
    height:1px;
    font-weight:700;
}



.newOffer {
    background-color: #5A198C;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 0px auto;
    height:  170px;
    display:flex;
    flex-flow: column;
        
}
    .newOffer a {
        margin-top: auto;
        justify-self: flex-end;
        text-decoration: none;
    }
.newOffer a:hover{
    
    color:black;
}
.styled-table thead tr {
    background-color: #5A198C;
    color: #ffffff;
}
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 2px solid black;

    }
    .styled-table a {
        text-decoration: none;
        color:black;
        margin: 0 2.5px;
        transition: 0.2s;
    }
    .styled-table a:hover{
        font-weight: 700;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
   

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3
        }


        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #5A198C  ;
        }

.form select {
    background-color: #F2A2E6;
    border: transparent;
}
    .form select option {
        background-color: #F2A2E6;
    }


.detailsOfferCard  {
    background-color: #5A198C;
    padding: 20px;
    width:500px;
    border-radius: 20px;
    font-size:25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color:white;
    font-weight: 700;
}
.detailsOfferCard h4 {
    font-size: 35px;
}
#curr{
    display: none;
}

.footer-container {
    font-size: 1rem;
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #e3d5ca;
}

.footer-container nav {
    margin: 1rem 0;
}

a.footer-link:visited {
    color: grey;
}

a.footer-link:active {
    color: black;
}
a.footer-link:link {
    color: black;
}

.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.custom-page-item {
    
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    margin: 1px;
}

.custom-page-link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font: inherit;
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.custom-page-item a:hover {
    color: grey;
    border-radius: 50%;
    border: 3px solid black !important;
}

