@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




    
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
            <h2 class="text-white">Create a new account!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="" autocomplete="name" aria-required="true" placeholder="John" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
        
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="" autocomplete="lastname" aria-required="true" placeholder="Smith" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
 
   
   
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
   
          
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
   
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
          
                <label asp-for="Input.Address.Street"></label>
                <input asp-for="Input.Address.Street" class="" autocomplete="Street" aria-required="true" placeholder="Moat St" />
                <span asp-validation-for="Input.Address.Street" class="text-danger"></span>
   
                <label asp-for="Input.Address.BuildingNr"></label>
                <input asp-for="Input.Address.BuildingNr" class="" autocomplete="Building Number" aria-required="true" placeholder="18 a" />
                <span asp-validation-for="Input.Address.BuildingNr" class="text-danger"></span>
          
                <label asp-for="Input.Address.ApartamentNr"></label>
                <input asp-for="Input.Address.ApartamentNr" class="" autocomplete="Apratment Number" aria-required="true" placeholder="1" />
                <span asp-validation-for="Input.Address.ApartamentNr" class="text-danger"></span>
   
                <label asp-for="Input.Address.City"></label>
                <input asp-for="Input.Address.City" class="" autocomplete="City" aria-required="true" placeholder="London" />
                <span asp-validation-for="Input.Address.City" class="text-danger"></span>
           
                <label asp-for="Input.Address.PostalCode"></label>
                <input asp-for="Input.Address.PostalCode" class="" autocomplete="Postal Code" aria-required="true" placeholder="SW6 1HS" />
                <span asp-validation-for="Input.Address.PostalCode" class="text-danger"></span>
  
          
                <label asp-for="Input.Address.Country"></label>
                <input asp-for="Input.Address.Country" class="" autocomplete="" aria-required="true" placeholder="SW6 1HS" />
                <span asp-validation-for="Input.Address.Country" class="text-danger"></span>
           

            <button id="registerSubmit" type="submit" class="form_button">Register</button>
        </form>
   
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
